@{
    ViewBag.Title = "Contact";
}

<div id="Contact">

    <h2>Contact information</h2>

    <p>No society is complete without a means of contact for any potential members.</p>
    <p> upcoming features for content creators and system administrators to be able to respons directly from the application</p>

    <address>
        MiSociety<br />
        Southampton<br />
        <abbr title="Phone">P: Tel-Number</abbr>
    </address>

    <address>
        <strong>Society Manager:</strong>   <a href="mailto:SocManager@example.com">SocietyManager@example.com</a><br />
        <strong>Content Creator:</strong> <a href="mailto:SocCreator@example.com">Content@example.com</a>
    </address>

</div>