@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MiSociety</h1>
    <p class="lead">MiSociety provides the ability for societies, clubs, and teams to quickly and easily generate a website with features ranging from creating events to managing members</p>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            MiSociety gives a full range of administration and customization features,
            you'll have members sign themselves up and be able to keep up to date with the latest events
        </p>
        <p><a class="btn btn-default" href="/Home/About/Loc?id=Features">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>JoiningProcess</h2>
        <p>
            So how do I get up and running? how do my members sign up? how does maintenance work?<br />
            answers to all of your questions and more!
        </p>
        <p><a class="btn btn-default" href="/Home/About/loc?id=JoiningProcess">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>News and Events</h2>
        <p>
            Here your news, updates, and information will be displayed to your users. the content is created and administered by you and your content creators.
        </p>
        <p><a class="btn btn-default" href="/Posts">Learn more &raquo;</a></p>
    </div>


</div>