
// Sizes
$xs-size: 1 rem;
$s-size: 1.3rem;

$m-size: 1.6rem;

$l-size: 3.2rem;

$xl-size: 4.8rem;

// Colours

$SlateGrey: #e9ecef;
$BackgroundGrey: #272B30;
$ContrastingBackgroundGrey: #2e2f33 ;
$TextGrey: #aaa;
$TextWhite: #f7f4f4;
$InputFormText: rgba(46,47,51,05)


